<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
  <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <title>Executree Adventures</title>
</head>

<body>

  <section class="screen">
    <div class="container" id="container-telas-canvas">
      <div class="game">
        <div class="game-txt">
          <h1>LIGUE OS ANIMAIS IGUAIS</h1>
        </div>
        
        <div class="conect">
          <div class="image-box" id="img1"><img src="../../images/animals/general animals/butterfly.png" alt="borboleta"></div>
          <div class="image-box" id="img2"><img src="../../images/animals/general animals/cat.png" alt="gato"></div>
          <div class="image-box" id="img3"><img src="../../images/animals/monkey/monkey-colorful.png" alt="macaco"></div>
        </div>

        <div class="conect">
          <div class="image-box" id="img4"><img src="../../images/animals/general animals/butterfly.png" alt="borboleta"></div>
          <div class="image-box" id="img5"><img src="../../images/animals/monkey/monkey-colorful.png" alt="macaco"></div>
          <div class="image-box" id="img6"><img src="../../images/animals/general animals/cat.png" alt="gato"></div>
        </div>

        <svg id="lineCanvas"></svg>

      </div>
    </div>
  </section>

  <script src="../../javascript/game/conectEquals.js"></script>
</body>

</html>