<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">

    <title>Executree Adventures</title>
</head>
<body>    
    <section class="screen">
        <div class="container">
            <div class="game">
                <div class="game-txt">
                    <h1>ENCONTRE TODAS AS TARTARUGAS</h1>
                </div>
                <div class="turtles">
                    <div id="Cachorro">
                        <button><img src="../../images/animals/general animals/dog.png" alt="cachorro"></button>
                    </div>
                    <div id="Tartaruga">
                        <button><img src="../../images/animals/general animals/turtle.png" alt="tartaruga"></button>
                    </div>
                    <div id="Gato">
                        <button><img src="../../images/animals/general animals/cat.png" alt="gato"></button>
                    </div>
                    <div id="Tartaruga">
                        <button><img src="../../images/animals/general animals/turtle.png" alt="tartaruga"></button>
                    </div>
                    <div id="Peixe">
                        <button><img src="../../images/animals/general animals/fish.png" alt="peixe"></button>
                    </div>
                    <div id="Tartaruga">
                        <button><img src="../../images/animals/general animals/turtle.png" alt="tartaruga"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="../../javascript/app/token.js"></script>
    <script src="../../javascript/game/find.js"></script>

</body>
</html>