<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">

    <title>Executree Adventures</title>
</head>
<body> 
    <section class="screen">
        <div class="container">
            <div class="game">
                <div class="listen">
                    <div class="game-txt">
                        <h1>QUEM COMEU A CENOURA? </h1>
                    </div>
                    <div class="alternatives">
                        <div class="animals" id="Macaco">
                            <img src="../../images/animals/monkey/monkey-colorful.png" alt="macaco">
                            <button class="btn-macaco">MACACO</button>
                        </div>
                        <div class="animals" id="Coelho">
                            <img src="../../images/animals/general animals/rabbit.png" alt="coelho">
                            <button class="btn-coelho">COELHO</button>
                        </div>
                        <div class="animals" id="Cachorro">
                            <img src="../../images/animals/general animals/dog.png" alt="cachorro">
                            <button class="blue-cachorro">CACHORRO</button>
                        </div>
                        <div class="animals" id="Raposa">
                            <img src="../../images/animals/general animals/fox.png" alt="raposa">
                            <button class="btn-raposa">RAPOSA</button>
                        </div>
                    </div>


                </div>
                <button id="btn-next-phase"><i class="fa-solid fa-forward"></i></button>
                
            </div>
        </div>
    </section>

    <script src="../../javascript/app/token.js"></script>
    <script src="../../javascript/game/listen.js"></script>
    <script src="../../javascript/game/global.js"></script>
    <script src="../../javascript/game/chapters.js"></script>
    <script src="https://kit.fontawesome.com/463abc3aab.js" crossorigin="anonymous"></script>

</body>
</html>