<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">

    <title>Executree Adventures</title>
</head>
<body> 
    <section class="screen">
        <div class="container">
            <div class="game">
                <div class="listen">
                    <div class="game-txt">
                        <h1>QUEM se encontrou na floresta? </h1>
                    </div>
                    <div class="alternatives">
                        <div class="animals" id="Rato">
                            <img src="../../images/animals/general animals/mouse.png" alt="rato">
                            <button class="btn-rato">RATO</button>
                        </div>
                        <div class="animals" id="Gato">
                            <img src="../../images/animals/general animals/cat.png" alt="gato">
                            <button class="btn-gato">GATO</button>
                        </div>
                        <div class="animals" id="Cachorro">
                            <img src="../../images/animals/general animals/dog.png" alt="cachorro">
                            <button class="btn-cachorro">CACHORRO</button>
                        </div>
                        <div class="animals" id="Macaco">
                            <img src="../../images/animals/monkey/monkey-colorful.png" alt="macaco">
                            <button class="btn-macaco">MACACO</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../../javascript/app/token.js"></script>
    <script src="../../javascript/game/listen-2.js"></script>

</body>
</html>