<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="/imagens/gerais/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">

    <title>Executree Adventures</title>
</head>
<body> 

    <section class="screen">
        <div class="container">
            <div class="game">
                <div class="game-txt">
                    <h1>OUÇA A HISTÓRIA</h1>
                </div>
                
                <audio controls>
                    <source src="caminho/do/arquivo-de-audio.mp3" type="audio/mp3">
                </audio>

                <div class="history-txt">
                    <h2>o gato brincou com o rato</h2>
                </div>
                <div class="quest-img">
                    <img id="img-atv" src="../../images/animals/general animals/cat.png" alt="gato.png">
                    <img id="img-atv" src="../../images/animals/general animals/mouse.png" alt="rato.png">
                </div>
                <div class="next">
                    <a href="listen-r3.html"><i class="fa-solid fa-forward"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!--JS-->
    <script src="../../javascript/app/token.js"></script>
    <script src="https://kit.fontawesome.com/463abc3aab.js" crossorigin="anonymous"></script>

</body>
</html>