<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Executree Adventures</title>
</head>
<body>    
    
    <section class="screen">
        <div class="container">
            <div class="game">
                <div class="game-txt">
                    <h1>pinte o pato de azul</h1>
                </div>
                <img id="quest-img" src="..\../images/animals/duck/duck.png" alt="duck.png">
                <div class="option">
                    <div class="tint" id="yellow">
                        <img src="..\../images/tints/tinta-amarela.png" alt="amarelo">
                        <button>AMARELO</button>
                    </div>
                    <div class="tint" id="blue">
                        <img src="..\../images/tints/tinta-azul.png" alt="azul">
                        <button>AZUL</button>
                    </div>
                    <div class="tint" id="red">
                        <img src="..\../images/tints/tinta-vermelha.png" alt="vermelho">
                        <button>VERMELHO</button>
                    </div>
                    <div class="tint" id="green">
                        <img src="..\../images/tints/tinta-verde.png" alt="verde">
                        <button>VERDE</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--JS-->
    <script src="../../javascript/app/token.js"></script>
    <script src="../../javascript/game/paint-2.js"></script>

</body>
</html>