<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">

    <title>Executree Adventures</title>
</head>
<body>    

    <section class="screen">
        <div class="container">
            <div class="game">
                <div class="game-txt">
                    <h1>TOQUE NAS IMAGENS DA HISTÓRIA</h1>
                </div>
                <div class="alternatives">
                    <div class="select">
                        <div class="animals" id="Passaro">
                            <img src="../../images/animals/general animals/bird.png" alt="passaro">
                        </div>
                        <div class="animals" id="Ninho">
                            <img src="../../images/animals/objects/nest.png" alt="ninho">
                        </div>
                        <div class="animals" id="Arvore">
                            <img src="../../images/animals/objects/tree.png" alt="arvore">
                        </div>
                        <div class="animals" id="Lago">
                            <img src="../../images/animals/objects/lake.png" alt="lago">
                        </div>
                    </div>
                </div>

                <button id="btn-next-phase"><i class="fa-solid fa-forward"></i></button>
                
            </div>
        </div>
    </section>

    <script src="../../javascript/app/token.js"></script>
    <script src="../../javascript/game/select.js"></script>
    <script src="../../javascript/game/global.js"></script>
    <script src="../../javascript/game/chapters.js"></script>
    <script src="https://kit.fontawesome.com/463abc3aab.js" crossorigin="anonymous"></script>
</body>
</html>