<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Executree Adventures</title>
</head>

<body>
    
    <div id="sidebar-btn"></div>

    <section class="screen">
        <div class="container">
            <div class="scrollable" id="about">
                <h1>sobre</h1>
                <p>A aplicação <label>Executree Adventures</label> é fruto do projeto que propõe investigar e desenvolver aplicações web em jogos para mensurar e fortalecer as habilidades das funções executivas, que são importantes para o planejamento, tomada de decisões, controle inibitório e flexibilidade mental. </p> 
                <p>Ele busca explorar como os jogos podem ser eficazes para desenvolver essas habilidades em pessoas de diferentes idades, mapeando os componentes das funções executivas e sua relação com elementos presentes nos jogos.</p> 
                
                <p>Com base nisso, serão criadas aplicações web personalizadas, oferecendo atividades específicas para mensurar e fortalecer as funções executivas. A usabilidade e eficácia dessas aplicações serão avaliadas por meio de estudos experimentais, visando fornecer insights para o desenvolvimento de intervenções digitais eficazes e personalizadas nessa área.</p>

                <p><label>Flexibilidade Cognitiva:</label> Essa habilidade nos permite adaptar nosso pensamento e comportamento conforme as demandas do momento ou as mudanças no ambiente. <br>
                Exemplo: Mudar rapidamente de uma tarefa para outra quando necessário.</p>

                <p><label>Controle Inibitório:</label> Esta habilidade nos permite controlar nossos impulsos e comportamentos, impedindo-nos de agir de forma precipitada ou inadequada. <br>
                Exemplo: Resistir à tentação de comer algo quando estamos tentando manter uma dieta.</p>

                <p><label>Memória de Trabalho:</label> Trata-se da capacidade de manter informações em mente temporariamente enquanto realizamos uma tarefa ou resolvemos um problema. <br>
                Exemplo: Lembrar-se de um número de telefone enquanto o discamos.</p>

            </div>
        </div>
    </section>

    
    <script src="../../javascript/app/token.js"></script>
    <script src="../../javascript/app/sidebar.js"></script>
    <script src="https://kit.fontawesome.com/463abc3aab.js" crossorigin="anonymous"></script>
</body>

</html>
