<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Executree Adventures</title>
</head>
<body>
    <section class="screen">
        <div class="chapters">
            <div class="chapters-init">
                <img src="../../images/utils/logo.png" alt="logo">
                <button>iniciar</button>
            </div>
            <div class="chapters-game hidden">
                <img src="../../images/utils/map.png" alt="forest-map" class="map">
                <div class="chapters-buttons">
                    <button class="left-btn" id="paint-btn"><img src="../../images/animals/monkey/monkey-colorful.png" alt="quest1"></button>
                    <button class="top-btn" id="listen-btn"><img src="../../images/animals/general animals/fox.png" alt="quest3"></button>
                    <button class="bottom-btn" id="find-btn"><img src="../../images/animals/general animals/rabbit.png" alt="quest2"></button>
                    <button class="right-btn" id="select-btn"><img src="../../images/animals/general animals/turtle.png" alt="quest4"></button>
                </div>
            </div>
        </div>
    </section>


    <script src="../../javascript/game/chapters.js"></script>
    <script src="../../javascript/app/token.js"></script>

</body>
</html>