<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Executree Adventures</title>
</head>

<body>
    
    <div id="sidebar-btn"></div>

    <section class="screen">
        <div class="container">
            <div class="scrollable" id="credits">
                <h1>créditos</h1>
                <h3>Equipe desenvolvedora:</h3>
                <p>Davi Miguel Franklim de Almeida</p>
                <p>Luan Nycholas Lemos Vieira</p>
                <p>Maria Regina Lucena da Silva</p>
                <p>Vitória Tavares Araujo</p>

                <h3>Professores e orientadores:</h3>
                <p> Prof. Dr. Jucelio Soares dos Santos (UEPB)</p>
                <p> Prof. Dr(a). Monilly Ramos Araújo Melo (UFCG)</p>

                <h3>Colaboradores:</h3>
                <div class="logos-img">    
                    <img src="../../images/utils/logos/logo-cognitive.png" alt="logo-cognitive" id="logo-cognitive">
                    <img src="../../images/utils/logos/logo-ufcg.png" alt="logo-ufcg" id="logo-ufcg">
                </div>

                <h3>Instituição:</h3>
                <div class="logos-img">
                    <img src="../../images/utils/logos/logo-cs.png" alt="logo-cs" id="logo-cs">
                    <img src="../../images/utils/logos/logo-uepb.png" alt="logo-uepb" id="logo-uepb">
                </div>
                
            </div>
        </div>
    </section>

    
    <script src="../../javascript/app/token.js"></script>
    <script src="../../javascript/app/sidebar.js"></script>
    <script src="https://kit.fontawesome.com/463abc3aab.js" crossorigin="anonymous"></script>
</body>

</html>
