<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/utils/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Executree Adventures</title>
</head>

<body>
    
    <div id="sidebar-btn"></div>

    <section class="screen">
        <div class="container">
            <div class="menu">
                <h1>MENU</h1>
                <button type="button" onclick="window.location.href='students.html'">meus alunos</button>
                <button type="button" onclick="window.location.href='editData.html'">editar dados</button>
                <button type="button" onclick="window.location.href='report.html'">relatório</button>
            </div>
        </div>
    </section>

    
    <script src="../../javascript/app/token.js"></script>
    <script src="../../javascript/app/sidebar.js"></script>
    <script src="https://kit.fontawesome.com/463abc3aab.js" crossorigin="anonymous"></script>
</body>

</html>
